body, html{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    }

header{
    width: 100%;
    height: 130px;
    background-color: #084C55;
}

#headerimage{
    display: inline;
    margin-left: 30%;
}

#headertitle{
    font-family: Arial, sans-serif;
    vertical-align: top;
    position: relative;
    top: 45px;
    display: inline;
    color: white;
}

#wrapper{
    width: 980px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: gray;
}

#googleMap{
    width: 980px;
    height: 500px;
}

#additionalInfo{
    width: 100%;
    text-align: center;
}

#id01{
    height: 300px;
    width: 900px;
}

#id02{
    height: 300px;
    width: 900px;
}