body, html{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    }

header{
    width: 100%;
    height: 130px;
    background-color: #084C55;
    text-align: center;
}

#headerimage{
    display: inline;
}

#mapArea{
    background-color: white;
    padding-bottom: 10px;
    border-radius: 10px;
}

#mapArea h2{
    text-align: center;
    font-family: Arial;
    margin: 0;
}

#infoTitle{
    margin-left: 10px;
}

.moreinfo{
    text-align: center;
    color: deepskyblue;
    text-decoration: underline;
    cursor: pointer;
}

.moreinfo:hover{
    cursor: pointer;
}

#headertitle{
    font-family: Arial, sans-serif;
    vertical-align: top;
    position: relative;
    top: 45px;
    display: inline;
    color: white;
}

#wrapper{
    width: 980px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #CCCCCC;
}

#googleMap{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
}

#additionalInfo{
    background-color: white;
    border-radius: 10px;
    display: none;
    width: 100%;
    text-align: center;
    margin: 5px;
}

#additionalInfo h2{
    font-family: Arial;
    padding-top: 15px;
}

#hourlyChart{
    height: 300px;
    width: 100%;

}

#dailyChart{
    height: 300px;
    width: 100%;
}

#daylist{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#daylist li{
    display: inline-block;
    padding: 5px;
    font-family: Arial;
    color: deepskyblue;
    cursor: pointer;
}

#hcharttitle h4{
    display: inline-block;
    vertical-align: top;
    font-family: Arial;
    padding: 0;
    margin: 0;
}

#dcharttitle h4{
    font-family: Arial;
}