<!DOCTYPE html>
<html>

<head>
    <!--<link rel="stylesheet" type="text/css" href="style.css">-->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!--This is used to import the API from google-->
    <script>
        var map;
        var currentStation;
        var currentStationNo;

        function initialize() {
            console.log("callecd");
            //The mapProp function is used to define the properties of the google map that we will embed to the page
            var mapProp = {
                center: new google.maps.LatLng(53.348096, -6.261584),
                zoom: 13,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            //This creates a new object in the googleMap div
            map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

            addMarkers(map);
        }

        function addMarkers(map) {
            var xmlhttp = new XMLHttpRequest();
            var url = "https://api.jcdecaux.com/vls/v1/stations?contract=Dublin&apiKey=ecb685c01e04147581cfd3c43376765a5ca1098f";

            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    var bikesites = JSON.parse(xmlhttp.responseText); //make the variable global to be used in the google map markers

                    for (var i = 0; i < bikesites.length; i++) {
                        var data = bikesites[i];

                        //Decide on the colour icon to use:
                        if (data.available_bikes / data.bike_stands > 0.5) {
                            iconColor = "http://maps.google.com/mapfiles/ms/icons/green-dot.png";
                        } else if (data.available_bikes / data.bike_stands > 0.25) {
                            iconColor = 'http://maps.google.com/mapfiles/ms/icons/orange-dot.png';
                        } else{
                            iconColor = 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
                        }

                        //Now we need to use the data to create the content for the infowindow
                        
                        
                        
                        var infoWindow = new google.maps.InfoWindow();
                        var coords = new google.maps.LatLng(bikesites[i].position.lat, bikesites[i].position.lng);
                        var marker = new google.maps.Marker({
                            position: coords,
                            map: map,
                            icon: iconColor,
                            title: bikesites[i].address
                        });
                        (function(marker, data) {


                            // Attaching a click event to the current marker
                            google.maps.event.addListener(marker, "click", function(e) {
                                content =     '<div class="infoContent">'+
                                                '<h3>' + data.name + '</h3>'+
                                                '<p>Station Number: ' + data.number + '</p>'+
                                                '<p>Total Bike Stands: ' + data.bike_stands + '</p>'+
                                                '<p>Available Bikes: ' + data.available_bikes + '</p>'+
                                                '<p>Available Stands: ' + data.available_bike_stands + '</p>'+
                                                '<p class="moreinfo" onclick="insertAddInfo()">More Info</p>'+
                                            '</div>';
                                    
                                currentStation = data.address;
                                currentStationNo = data.number;
                                infoWindow.setContent(content);
                                infoWindow.open(map, marker);
                            });

                        })(marker, data);

                    }
                }
            };

            xmlhttp.open("GET", url, true);
            xmlhttp.send();
        }

        //The DomListener is used to handle events on the map. This says to load the map when the window is loaded
        google.maps.event.addDomListener(window, 'load', initialize);

        setInterval(initialize, 300000);

        function insertAddInfo() {
            //Set the additional info title
            document.getElementById("infoTitle").innerHTML = '<h2>Information for: '+ currentStation + '</h2>';
            document.getElementById("additionalInfo").style.display = 'block';
            //Create the charts
            createChart('Monday');
        }


        function createChart(requestedDay) {
            console.log(currentStation);
            console.log(currentStationNo);
            document.getElementById("selectedDay").innerHTML = requestedDay;
            var xmlhttp2 = new XMLHttpRequest();
            var url = "/getjson/" + currentStationNo + "/" + requestedDay;
            console.log(url);

            xmlhttp2.onreadystatechange = function() {
                if (xmlhttp2.readyState == 4 && xmlhttp2.status == 200) {
                    var data = JSON.parse(xmlhttp2.responseText);
                    drawChart(data);
                }
            };
            xmlhttp2.open("GET", url, true);
            xmlhttp2.send();
        }

        google.charts.load('current', {
            packages: ['corechart']
        });



        function drawChart(dailydata) {
            console.log(dailydata[0].Times);
            console.log(dailydata[0].Daily);
            console.log(dailydata[0].Free_Time);
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Time');
            data.addColumn('number', 'Available Bikes');
            data.addRow(["06:00", parseInt(dailydata[0].Times[0])]);
            data.addRow(["07:00", parseInt(dailydata[0].Times[1])]);
            data.addRow(["08:00", parseInt(dailydata[0].Times[2])]);
            data.addRow(["09:00", parseInt(dailydata[0].Times[3])]);
            data.addRow(["10:00", parseInt(dailydata[0].Times[4])]);
            data.addRow(["11:00", parseInt(dailydata[0].Times[5])]);
            data.addRow(["12:00", parseInt(dailydata[0].Times[6])]);
            data.addRow(["13:00", parseInt(dailydata[0].Times[7])]);
            data.addRow(["14:00", parseInt(dailydata[0].Times[8])]);
            data.addRow(["15:00", parseInt(dailydata[0].Times[9])]);
            data.addRow(["16:00", parseInt(dailydata[0].Times[10])]);
            data.addRow(["17:00", parseInt(dailydata[0].Times[11])]);
            data.addRow(["18:00", parseInt(dailydata[0].Times[12])]);
            data.addRow(["19:00", parseInt(dailydata[0].Times[13])]);
            data.addRow(["20:00", parseInt(dailydata[0].Times[14])]);
            data.addRow(["21:00", parseInt(dailydata[0].Times[15])]);
            data.addRow(["22:00", parseInt(dailydata[0].Times[16])]);
            data.addRow(["23:00", parseInt(dailydata[0].Times[17])]);

            var data2 = new google.visualization.DataTable();
            data2.addColumn('string', 'Day');
            data2.addColumn('number', 'Available Bikes');
            data2.addRow(["Sunday", parseInt(dailydata[0].Daily[0])]);
            data2.addRow(["Monday", parseInt(dailydata[0].Daily[1])]);
            data2.addRow(["Tuesday", parseInt(dailydata[0].Daily[2])]);
            data2.addRow(["Wednesday", parseInt(dailydata[0].Daily[3])]);
            data2.addRow(["Thursday", parseInt(dailydata[0].Daily[4])]);
            data2.addRow(["Friday", parseInt(dailydata[0].Daily[5])]);
            data2.addRow(["Saturday", parseInt(dailydata[0].Daily[6])]);
            
            var data3 = new google.visualization.DataTable();
            data3.addColumn('string', 'Time');
            data3.addColumn('number', 'Waiting Time (minutes)');
            data3.addRow(["6am-9am", dailydata[0].Free_Time[0]]);
            data3.addRow(["9am-12pm", dailydata[0].Free_Time[1]]);
            data3.addRow(["12pm-3pm", dailydata[0].Free_Time[2]]);
            data3.addRow(["3pm-6pm", dailydata[0].Free_Time[3]]);
            data3.addRow(["6pm-9pm", dailydata[0].Free_Time[4]]);
            data3.addRow(["9pm-12am", dailydata[0].Free_Time[5]]);


            var options = {
                backgroundColor: { fill: "transparent" },
                animation: {"startup": true,
                           duration: 1000,
                            easing: 'out'},
                titlePosition: 'none',
                legend: {
                    position: 'none'
                },
                curveType: 'function',
                colors: ['#084C55'],
                bar: {
                    gap: 10
                },
                gridlines: {
                    color: 'none'
                },
                vAxis: {
                    gridlines: {
                        color: 'transparent'
                    },
                    title: '\n\n\n\nAvailable Bikes',
                    textPosition: 'out'
                },
                hAxis: {
                    slantedText: true,
                    slantedTextAngle: 45
                }
            };

            var options2 = {
                titlePosition: 'none',
                legend: {
                    position: 'none'
                },
                curveType: 'function',
                colors: ['#084C55'],
                bar: {
                    gap: 10
                },
                gridlines: {
                    color: 'none'
                },
                animation: {"startup": true},
                vAxis: {
                    gridlines: {
                        color: 'transparent'
                    },
                    title: '\n\n\n\nAvailable Bikes',
                    textPosition: 'out'
                },


            };
            
            var options3 = { 
                animation: {"startup": true,
                           duration: 1000,
                            easing: 'out'},
                titlePosition: 'none',
                legend: {
                    position: 'none'
                },
                curveType: 'function',
                colors: ['#084C55'],
                bar: {
                    gap: 10
                },
                gridlines: {
                    color: 'none'
                },
                                vAxis: { 
              title: "Percentage Uptime", 
              viewWindowMode:'explicit',
              viewWindow:{
                min:0},
                    gridlines: {
                        color: 'transparent'
                    },
                    title: '\n\n\n\nTime (minutes)',
                    textPosition: 'out'
                },
            };
            var chart = new google.visualization.ColumnChart(document.getElementById("hourlyChart"));
            chart.draw(data, options);
            var chart2 = new google.visualization.ColumnChart(document.getElementById("dailyChart"));
            chart2.draw(data2, options2);
            var chart3 = new google.visualization.ColumnChart(document.getElementById("freeTimeChart"));
            chart3.draw(data3, options3);
        
        }
    </script>
</head>

<body>
    <header>
        <img id="headerimage" src="{{ url_for('static', filename='Dublin_Bikes_logo.jpg') }}">
        <h1 id="headertitle">dublinbikes Station Info</h1>
    </header>

    <div id="wrapper">
        <div id="mapArea">
            <div class="sectionTitle">
                <h2>Station Map</h2>
            </div>
            <!--<div id="keyArea">

            
            </div>-->
            <div id="googleMap"></div>
        </div>
        
        <div id="additionalInfo">
            <div id="infoTitle"></div>
            <div id="hchartarea">
                <ul id="daylist">
                    <li onclick="createChart('Monday')">Monday</li>
                    <li onclick="createChart('Tuesday')">Tuesday</li>
                    <li onclick="createChart('Wednesday')">Wednesday</li>
                    <li onclick="createChart('Thursday')">Thursday</li>
                    <li onclick="createChart('Friday')">Friday</li>
                    <li onclick="createChart('Saturday')">Saturday</li>
                    <li onclick="createChart('Sunday')">Sunday</li>
                </ul>
                <div class="chartTitle"><h4>Hourly Average Available Bikes on:&nbsp; </h4><h4 id="selectedDay">Monday</h4></div>
                <div id="hourlyChart"></div>
                <div class="chartTitle"><h4>Average Waiting Time for Available Bike</h4></div>
                <div id="freeTimeChart"></div>
            </div>
            <div id="dchartarea">
                <div class=chartTitle><h4>Daily Average Available Bikes</h4></div>
                <div id="dailyChart"></div>
            </div>
        </div>

    </div>
</body>
<script>
</script>

</html>